@using AprioriSite.Core.Models
@model IEnumerable<UserOrdersViewModel>
@{
	ViewData["Title"] = "My orders";
	Layout = null;
}

<head>
	<title>@ViewData["Title"]</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="~/css/style.css" />
	<link rel="stylesheet" href="~/css/myorders.css" />
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-grid.css" />

	<title>My Orders</title>
</head>

<body>
	<partial name="_MainMenu" />

	<h1 class="heading"> My <span>Orders</span> </h1>
	<h1 class="heading"> My <span>Orders</span> </h1>

    @foreach (var order in Model)
    {
	<div class="container mt-5 mb-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="invoice p-5">
                    <h5>Your order!</h5> <span class="font-weight-bold d-block mt-4">Hello, @order.FirstName @order.LastName</span> 
                    @if(order.Confirmed)
                    {
                        <span>You order has been confirmed and will be shipped in next two days!</span>
                    }
                    else
                    {
                        <span>You order has not been yet confirmed!</span>
                    }
                    <div class="payment border-top mt-3 mb-3 border-bottom table-responsive">
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="py-2"> <span class="d-block text-muted">Order Date</span> <span>12 Jan,2018</span> </div>
                                    </td>
                                    <td>
                                        <div class="py-2"> <span class="d-block text-muted">Payment</span> <span>Speedy - On Arrival</span> </div>
                                    </td>
                                    <td>
                                        <div class="py-2"> <span class="d-block text-muted">Shiping Address</span> <span>@order.Country @order.Address</span> </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="product border-bottom table-responsive">
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <td width="20%"> <img src="@order.CustomImage" width="90"> </td>
                                    <td width="60%"> <span class="font-weight-bold">Quantity:@order.Quantity</span>
                                        <div class="product-qty"> <span>Color:White</span> </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row d-flex justify-content-end">
                        <div class="col-md-5">
                            <table class="table table-borderless">
                                <tbody class="totals">
                                    <tr>
                                        <td>
                                            <div class="text-left"> <span class="text-muted">Price</span> </div>
                                        </td>
                                        <td>
                                            <div class="text-right"> <span>$@order.Price</span> </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="text-left"> <span class="text-muted">Shipping Fee</span> </div>
                                        </td>
                                        <td>
                                            <div class="text-right"> <span>$0.00</span> </div>
                                        </td>
                                    </tr>

                                    <tr class="border-top border-bottom">
                                        <td>
                                            <div class="text-left"> <span class="font-weight-bold">Subtotal</span> </div>
                                        </td>
                                        <td>
                                            <div class="text-right"> <span class="font-weight-bold">@order.Price $</span> </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <p>We will be sending shipping confirmation email when the item shipped successfully!</p>
                    <p class="font-weight-bold mb-0">Thanks for shopping with us!</p> <span>Apriori</span>
                </div>
                <div class="d-flex justify-content-between footer p-3"> <span>Need Help? visit our <a href="/home/contactus"> help center</a></span> </div>
            </div>
        </div>
    </div>
</div>
}
	<partial name="_Footer" />
	<script src="~/js/script.js"></script>
</body>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}