@{
	ViewData["Title"] = "Customise";
	Layout = null;
}

<script>
		$(function(){

		var img = new Image();
		img.onload = function(){
			ctx.drawImage(img, 0,0);
		};
		img.src = document.getElementById("image_input");

		var canvas=document.getElementById("canvas");
		var ctx = canvas.getContext("2d");
		var canvasOffset=$("#canvas").offset();
		var offsetX=canvasOffset.left;
		var offsetY=canvasOffset.top;
		var canvasWidth=canvas.width;
		var canvasHeight=canvas.height;
		var isDragging=false;

		function handleMouseDown(e){
		  canMouseX=parseInt(e.clientX-offsetX);
		  canMouseY=parseInt(e.clientY-offsetY);
		  // set the drag flag
		  isDragging=true;
		}

		function handleMouseUp(e){
		  canMouseX=parseInt(e.clientX-offsetX);
		  canMouseY=parseInt(e.clientY-offsetY);
		  // clear the drag flag
		  isDragging=false;
		}

		function handleMouseOut(e){
		  canMouseX=parseInt(e.clientX-offsetX);
		  canMouseY=parseInt(e.clientY-offsetY);
		  // user has left the canvas, so clear the drag flag
		  //isDragging=false;
		}

		function handleMouseMove(e){
		  canMouseX=parseInt(e.clientX-offsetX);
		  canMouseY=parseInt(e.clientY-offsetY);
		  // if the drag flag is set, clear the canvas and draw the image
		  if(isDragging){
			  ctx.clearRect(0,0,canvasWidth,canvasHeight);
			  ctx.drawImage(img,canMouseX-128/2,canMouseY-120/2,128,120);
		  }
		}

		$("#canvas").mousedown(function(e){handleMouseDown(e);});
		$("#canvas").mousemove(function(e){handleMouseMove(e);});
		$("#canvas").mouseup(function(e){handleMouseUp(e);});
		$("#canvas").mouseout(function(e){handleMouseOut(e);});
	});
</script>

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>@ViewData["Title"]</title>
	<link rel="stylesheet" href="~/css/style.css">
</head>

<body>
	<partial name="_MainMenu" />
	<h1 class="heading">Customise</h1>
	<h1 class="heading"></h1>
	<h1 class="heading"><span>Customise</span> </h1>
	<div class="customise-canvas-file">
		<canvas class="canvasedit" id="canvasedit" width=500 height=500 style="background:url(@Model.ImageUrl)"></canvas>
		<p></p>
		<div class="file_input">
			<input type="file" id="image_input" accept="image/png, image/jpg">
			<div id="display_image"></div>
		</div>
	</div>

	<section class="dealdetails">
		<div class="content">
			<div class="content">
				<p>@Model.Category - @Model.Subcategory</p>
				<h3>@Model.Label</h3>
				<h3></h3>
				<p> Upload your picture to the right and we will email you a preview of the item so you can confirm if you like it and then order it! </p>

				<a href="/products/order?id=@(Model.Id)" class="btn">Finish and send</a>
			</div>
		</div>
	</section>
	<div class="instructions">
		<img class="instructions" src="https://media.discordapp.net/attachments/958825603686092902/960532483642900540/unknown.png?width=1139&height=466">
		<img class="instructions" src="https://media.discordapp.net/attachments/958825603686092902/960532519265136700/unknown.png?width=1141&height=179">
		<img class="instructions" src="https://media.discordapp.net/attachments/958825603686092902/960532555017359410/unknown.png?width=1144&height=325">
	</div>

	<script>
		  var submitButton = document.getElementById("upload");
		  submitButton.addEventListener("click", submitImage);

		  function submitImage(){
			  var canvas = document.getElementById("canvasedit");
			  var image = document.getElementById("display_image");
			  var ctx = canvas.getContext('2d');
			  var base_image = new Image();
			  base_image.src = "https://cdn-media-1.freecodecamp.org/images/0*9gc-miHUtGQVtTfT.png";
			  base_image.onload = function(){
			  ctx.drawImage(base_image, 0, 0);
		}
		  }
	</script>

	<script src="~/js/upload-image.js"></script>

	<partial name="_Footer" />

	<!-- REQUIRED SCRIPTS -->
	<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
	<script src="~/js/script.js"></script>
	<script src="~/plugins/jquery/jquery.min.js"></script>
	<script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="~/plugins/toastr/toastr.min.js"></script>
</body>
</html>
