@{
	ViewData["Title"] = "Details";
	Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>@ViewData["Title"]</title>
	<link rel="stylesheet" href="~/css/style.css">
</head>

<body>
	<partial name="_MainMenu" />
	<h1 class="heading">Details</h1>
	<h1 class="heading"></h1>
	<h1 class="heading"><span>Details</span> </h1>
	<section class="dealdetails">
		<div class="~/image">
			<img src="@Model.ImageUrl" alt="@Model.Label" title="@Model.Label - Main Image">
		</div>
		<div class="content">
			<div class="content">
				<p>@Model.Category - @Model.Subcategory</p>
				<h3>@Model.Label</h3>
				<h3>@string.Format("{0:n2}", @Model.Price) $</h3>
				<h3></h3>
				<p> Description: </p>
				<p> @Model.Description </p>
				<a href="/products/customise?id=@(Model.Id)" class="btn">Customise now</a>
			</div>
		</div>
	</section>
	<div class="instructions">
		<img class="instructions" src="https://media.discordapp.net/attachments/958825603686092902/960532483642900540/unknown.png?width=1139&height=466">
		<img class="instructions" src="https://media.discordapp.net/attachments/958825603686092902/960532519265136700/unknown.png?width=1141&height=179">
		<img class="instructions" src="https://media.discordapp.net/attachments/958825603686092902/960532555017359410/unknown.png?width=1144&height=325">
	</div>

	<partial name="_Footer" />

	<!-- REQUIRED SCRIPTS -->
	<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
	<script src="~/js/script.js"></script>
	<script src="~/plugins/jquery/jquery.min.js"></script>
	<script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="~/plugins/toastr/toastr.min.js"></script>
</body>
</html>
