@using AprioriSite.Core.Models
@using System.Security.Claims
@model OrderAndItemViewModel


@{
	ViewData["Title"] = "Order";
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>@ViewData["Title"]</title>
	<link rel="stylesheet" href="~/css/style.css">
	<link rel="stylesheet" href="~/css/checkout.css">
</head>

<body>
	<partial name="_MainMenu" />

	<section class="content">

		<form id="order" method="post">
			<div class="containerorder">
			</div>
			<div class="details shadow">
				<div class="details__item">

					<div class="item__image">
						<img id="customImage" class="iphone" src="" alt="">
					</div>
					<div class="item__details">
						<div class="item__title">
							@Model.ItemsDetailsViewModel.Label
						</div>
						<input type="hidden" id="OrderItemViewModel.UserId" value="@User.FindFirstValue(ClaimTypes.NameIdentifier)">
						<div id="item__price" class="item__price">
							@string.Format("{0:n2}", Model.ItemsDetailsViewModel.Price)
						</div>
						<div class="item__quantity">
							Quantity:
							<select asp-for="OrderItemViewModel.Quantity" type="number" id="quantity">
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
									<option value="6">6</option>
									<option value="6">7</option>
									<option value="6">8</option>
									<option value="6">9</option>
									<option value="6">10</option>
								</select>
								<span asp-validation-for="OrderItemViewModel.Quantity" class="text-danger"></span>
						</div>
						@if (Model.ItemsDetailsViewModel.AllowSize)
						{
							<div class="item__size">
								Size:
								<select asp-for="OrderItemViewModel.Size">
									<option value="XS">XS</option>
									<option value="S">S</option>
									<option value="M">M</option>
									<option value="L">L</option>
									<option value="XL">XL</option>
									<option value="XXL">XXL</option>
								</select>
								<span asp-validation-for="OrderItemViewModel.Size" class="text-danger"></span>
							</div>
						}
						else
						{
							<select asp-for="OrderItemViewModel.Size">
									<option value="Only one size">Only one size</option>
								</select>
						}
						<div class="item__description">
							<ul style="">
								<li>@Model.ItemsDetailsViewModel.Description</li>
							</ul>

						</div>

					</div>
				</div>

			</div>
			<div class="discount"></div>

			<div class="containerorder">
				<div class="payment">
					<div class="payment__title">
						Payment Method
					</div>
					<div class="payment__types">
						<div class="payment__type payment__type--cc active">
							On Arrival (SPEEDY)
						</div>
					</div>

					<div class="payment__info">
						<div class="payment__cc">
							<div class="payment__title">
								<i class="icon icon-user"></i>Personal Information
							</div>
							<div class="form__cc">
								<div class="row">
									<div class="field">
										<div class="title">
											First Name
										</div>
										<input asp-for="OrderItemViewModel.FirstName" class="form-control input txt" aria-required="true" required />
										<span asp-validation-for="OrderItemViewModel.FirstName" class="text-danger"></span>
									</div>
									<div class="field">
										<div class="title">
											Last Name
										</div>
										<input asp-for="OrderItemViewModel.LastName" class="form-control input txt" aria-required="true" required />
										<span asp-validation-for="OrderItemViewModel.LastName" class="text-danger"></span>
									</div>
								</div>
								<div class="row">
									<div class="field">
										<div class="title">
											Country
										</div>
										<input asp-for="OrderItemViewModel.Country" class="form-control input txt" aria-required="true" required />
										<span asp-validation-for="OrderItemViewModel.Country" class="text-danger"></span>
									</div>
									<div class="field">
										<div class="title">
											Province
										</div>
										<input asp-for="OrderItemViewModel.Province" class="form-control input txt" aria-required="true" required />
										<span asp-validation-for="OrderItemViewModel.Province" class="text-danger"></span>
									</div>
								</div>
								<div class="row">
									<div class="field">
										<div class="title">
											City
										</div>
										<input asp-for="OrderItemViewModel.City" class="form-control input txt" aria-required="true" required />
										<span asp-validation-for="OrderItemViewModel.City" class="text-danger"></span>
									</div>
									<div class="field">
										<div class="title">
											Address
										</div>
										<input asp-for="OrderItemViewModel.Address" class="form-control input txt" aria-required="true" required />
										<span asp-validation-for="OrderItemViewModel.Address" class="text-danger"></span>
									</div>
								</div>
								<div class="row">
									<div class="field">
										<div class="title">
											Zip
										</div>
										<input asp-for="OrderItemViewModel.Zip" type="number" class="form-control input txt" aria-required="true" min="1000" max="89049" required />
										<span asp-validation-for="OrderItemViewModel.Zip" class="text-danger"></span>
									</div>
								</div>
								<input asp-for="OrderItemViewModel.UserId" type="hidden" id="UserIdAsp" value="@User.FindFirstValue(ClaimTypes.NameIdentifier)">
								<input asp-for="OrderItemViewModel.ItemId" type="hidden" id="ItemIdAsp" value="@Model.ItemsDetailsViewModel.Id">
								<input asp-for="OrderItemViewModel.OrderDate" type="hidden" id="OrderDateAsp" value="">
								<input asp-for="OrderItemViewModel.Price" type="hidden" id="PriceAsp" value="">
								<input asp-for="OrderItemViewModel.CustomImage" type="hidden" id="CustomImageAsp" value="">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="containerorder">
				<div class="actions">
					<button id="login-submit" type="submit" class="btn action__submit">Place your Order</button>
				</div>
		</form>
	</section>
	</div>

	<partial name="_Footer" />

	<script>
		document.getElementById("OrderDateAsp").value = Date();
		document.getElementById("PriceAsp").value = parseFloat(document.getElementById("item__price").textContent);
		let dynamicPrice = document.getElementById("item__price");
		let itemPrice = parseFloat(dynamicPrice.textContent);
		document.getElementById("quantity").addEventListener("change", () => {
			if(document.getElementById("quantity").value > 0 && document.getElementById("quantity").value < 100){
				dynamicPrice.textContent = (itemPrice * parseFloat(document.getElementById("quantity").value)).toFixed(2) + " $";
				document.getElementById("PriceAsp").value = parseFloat(document.getElementById("item__price").textContent);
			}
		});
	</script>

	<script>
		let customImage = window.localStorage.getItem('customImage');
		document.getElementById("customImage").src = customImage;
		document.getElementById("CustomImageAsp").value = customImage;
	</script>

	<!-- REQUIRED SCRIPTS -->
	<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
	<script src="~/js/script.js"></script>
	<script src="~/plugins/jquery/jquery.min.js"></script>
	<script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="~/plugins/toastr/toastr.min.js"></script>
</body>
</html>
