@{
	ViewData["Title"] = "Products";
	Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>@ViewData["Title"]</title>
	<link rel="stylesheet" href="~/css/style.css">
</head>

<body>
	<partial name="_MainMenu" />
	<section class="products" id="products">

		<h1 class="heading"><span>Catalog</span> </h1>
		<h1 class="heading"><span>Catalog</span> </h1>

		<div class="filter-buttons">
			<div class="buttons active" data-filter="all">All</div>
			<div class="buttons" data-filter="Clothes">Clothes</div>
			<div class="buttons" data-filter="Shoes">Shoes</div>
			<div class="buttons" data-filter="Underwear">Underwear</div>
			<div class="buttons" data-filter="Accessories">Accessories</div>
		</div>

		<div class="box-container">

			@foreach (var item in Model.Clothes)
			{
				<div class="box" data-item="@item.Category">
					<a class="icons" href="/products/details?id=@(item.Id)">
					</a>
					<div class="image">
						<img src="@item.ImageUrl" alt="">
					</div>
					<div class="content">
						<h3>@item.Label</h3>
						<div class="price">
							<div class="amount">$@string.Format("{0:n2}", item.Price)</div>
						</div>
						<div class="stars">
							<i>Upvotes: </i>
							<span>@item.Upvotes</span>
						</div>
					</div>
				</div>
			}

		</div>
	</section>
	<!-- products section ends -->
	<!-- footer section starts -->
	<partial name="_Footer" />
	<!-- footer section ends -->

	<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
	<!-- REQUIRED SCRIPTS -->
	<!-- custom js file link -->
	<script src="~/js/script.js"></script>
	<!-- jQuery -->
	<script src="~/plugins/jquery/jquery.min.js"></script>
	<!-- Bootstrap 4 -->
	<script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
	<!--Toastr -->
	<script src="~/plugins/toastr/toastr.min.js"></script>
</body>
</html>
